<div class="row">
  <div class="col-md-6">

    <form (ngSubmit)='submitGoal()' #quoteForm='ngForm'> <!--Declaring it an anular form-->
      <div class="form-group">
        <label for="enterquote">Quote</label>
        <!--angular model attribute called and assigned to newQuote to send data to quote ts and back-->
        <input type="text" class="form-control" id="quoteentry" [(ngModel)]="newQuote.quotation" name="quoteentry" placeholder="I quote therefore I am"> 
        <!--Two way data binding trial-->
        {{newQuote.quotation}}
      </div>
      <div class="form-group">
        <label for="entername">Thinker</label>
        <input type="text" class="form-control" id="nameentry" placeholder="Rene Desquotes">
      </div>
      <div class="form-group">
          <label for="enterposter">Name</label>
          <input type="text" class="form-control" id="posterentry" placeholder="I am..">
      </div>
      <button type="submit" class="btn btn-danger">Add</button>
    </form>
  </div>
</div>
