<div class="row">
  <div class="col-md-6">

    <form>
      <div class="form-group">
        <label for="enterquote">Quote</label>
        <input type="text" class="form-control" id="quoteentry" placeholder="I quote therefore I am">
      </div>
      <div class="form-group">
        <label for="entername">Name</label>
        <input type="text" class="form-control" id="nameentry" placeholder="Rene Desquotes">
      </div>
      <button type="click" class="btn btn-danger">Add</button>
    </form>
  </div>
</div>
