<div>
  <h1>Quotify</h1>

  <p>New Quote</p>
</div>
<app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form> <!--The form component selector is attached to the parent, quote component -->

<hr>
<h2>Quotes</h2>

<ul>
  <div>
    <div *ngFor="let quote of quotes;let i = index">
      <li class="card"><em>{{quote.quotation}}</em>
      <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (deletion)="removeQuote($event,i)"></app-quote-details>
      </li>
      <button (click)='displayDetails(i)' class="btn btn">Display Details</button>
    </div>
    
  </div>
</ul>
