/* You can add global styles to this file, and also import other style files */



.card {
    color: black;
    background-color: aqua;
    width: absolute;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: aqua;
}

.form-group {
    color: gold;
}

.btn {
    background-color: gold;
    color: white;
    width: 150px;
}

@import "~bootstrap/dist/css/bootstrap.css"
